
body {
  margin: 0;
  overscroll-behavior-y: none;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(200,100%,76%,0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer {
  background-color:transparent;
}

button {
  transition-duration: 300ms;
}

button:active {
  transform: scale(1.08);
  transition-duration: 0ms;
}

.hover-item {
  color: hsl(0,0%,70%);
}

.hover-item:hover {
  color: hsl(0,0%,40%);
}
