
{
  :port 7800
  :fallback-host "http://192.168.1.23:7801"
  :routes [
    {
      :path "documents/directories"
      :get {:type :file, :file "directories.json"}
    }
    {
      :path "documents/categories"
      :get {:type :file, :file "categories.json"}
    }
    {
      :path "documents/:id"
      :get {:type :file, :file "doc-item.json"}
    }
  ]
}
