
{
  :port 7800
  :routes [
    {
      :path "users/me"
      :get {:type :file :file "me.json"}
    }
    {
     :path "iot"
     :next [
       {
         :path "devices"
         :get {:type :file, :file "devices.json" }
         :post {:type :file, :file "ok.json"}
         :put {:type :file, :file "ok.json"}
         :next [
           {
             :path "categories"
             :get {:type :file, :file "categories.json"}
           }
           {
             :path ":deviceId"
             :delete {:code 200, :type :file, :file "ok.json"}
             :get {:type :file, :file "device.json"}
             :next [
               {
                 :path "dataModel/:id",
                 :next [
                   {
                     :path "mappingConfigs"
                     :post {:type :file :file "ok.json"}
                   }
                 ]
               }
               {
                 :path "mappingConfigs"
                 :get {:type :file, :file "device-mappings.json"}
               }
               {
                 :path ":status"
                 :put {:code 200, :type :file, :file "ok.json"}
               }
             ]
           }
         ]
       }
     ]
    }
  ]
}
